# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\src\EjBasic2 Lbb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
